@charset "UTF-8";
html,
body {
  background-color: #ffffff;
  color: #000;
}

:root {
  --mdc-theme-primary: #314f69;
  --mdc-theme-secondary: #b7deff;
  --mdc-theme-background: #e2e2e2;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-error: #b71c1c;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #000;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

.mdc-theme--primary {
  color: #314f69  !important;
  /* @alternate */
  color: var(--mdc-theme-primary, #314f69) !important;
}

.mdc-theme--secondary {
  color: #b7deff  !important;
  /* @alternate */
  color: var(--mdc-theme-secondary, #b7deff) !important;
}

.mdc-theme--background {
  background-color: #e2e2e2;
  /* @alternate */
  background-color: var(--mdc-theme-background, #e2e2e2);
}

.mdc-theme--surface {
  background-color: #ffffff;
  /* @alternate */
  background-color: var(--mdc-theme-surface, #ffffff);
}

.mdc-theme--error {
  color: #b71c1c  !important;
  /* @alternate */
  color: var(--mdc-theme-error, #b71c1c) !important;
}

.mdc-theme--on-primary {
  color: #fff  !important;
  /* @alternate */
  color: var(--mdc-theme-on-primary, #fff) !important;
}

.mdc-theme--on-secondary {
  color: #000  !important;
  /* @alternate */
  color: var(--mdc-theme-on-secondary, #000) !important;
}

.mdc-theme--on-surface {
  color: #000  !important;
  /* @alternate */
  color: var(--mdc-theme-on-surface, #000) !important;
}

.mdc-theme--on-error {
  color: #fff  !important;
  /* @alternate */
  color: var(--mdc-theme-on-error, #fff) !important;
}

.mdc-theme--text-primary-on-background {
  color: rgba(0, 0, 0, 0.87)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87)) !important;
}

.mdc-theme--text-secondary-on-background {
  color: rgba(0, 0, 0, 0.54)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-theme--text-hint-on-background {
  color: rgba(0, 0, 0, 0.38)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38)) !important;
}

.mdc-theme--text-disabled-on-background {
  color: rgba(0, 0, 0, 0.38)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.38)) !important;
}

.mdc-theme--text-icon-on-background {
  color: rgba(0, 0, 0, 0.38)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38)) !important;
}

.mdc-theme--text-primary-on-light {
  color: rgba(0, 0, 0, 0.87)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87)) !important;
}

.mdc-theme--text-secondary-on-light {
  color: rgba(0, 0, 0, 0.54)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-light, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-theme--text-hint-on-light {
  color: rgba(0, 0, 0, 0.38)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-hint-on-light, rgba(0, 0, 0, 0.38)) !important;
}

.mdc-theme--text-disabled-on-light {
  color: rgba(0, 0, 0, 0.38)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-disabled-on-light, rgba(0, 0, 0, 0.38)) !important;
}

.mdc-theme--text-icon-on-light {
  color: rgba(0, 0, 0, 0.38)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-icon-on-light, rgba(0, 0, 0, 0.38)) !important;
}

.mdc-theme--text-primary-on-dark {
  color: white  !important;
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-dark, white) !important;
}

.mdc-theme--text-secondary-on-dark {
  color: rgba(255, 255, 255, 0.7)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-dark, rgba(255, 255, 255, 0.7)) !important;
}

.mdc-theme--text-hint-on-dark {
  color: rgba(255, 255, 255, 0.5)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-hint-on-dark, rgba(255, 255, 255, 0.5)) !important;
}

.mdc-theme--text-disabled-on-dark {
  color: rgba(255, 255, 255, 0.5)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-disabled-on-dark, rgba(255, 255, 255, 0.5)) !important;
}

.mdc-theme--text-icon-on-dark {
  color: rgba(255, 255, 255, 0.5)  !important;
  /* @alternate */
  color: var(--mdc-theme-text-icon-on-dark, rgba(255, 255, 255, 0.5)) !important;
}

.mdc-theme--primary-bg {
  background-color: #314f69  !important;
  /* @alternate */
  background-color: var(--mdc-theme-primary, #314f69) !important;
}

.mdc-theme--secondary-bg {
  background-color: #b7deff  !important;
  /* @alternate */
  background-color: var(--mdc-theme-secondary, #b7deff) !important;
}

/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
  text-decoration: none;
  color: inherit;
}

img, a {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  user-drag: none;
  -webkit-user-drag: none;
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

.mdc-elevation--z0 {
  /* @alternate */
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z1 {
  /* @alternate */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z2 {
  /* @alternate */
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z3 {
  /* @alternate */
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z4 {
  /* @alternate */
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z5 {
  /* @alternate */
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z6 {
  /* @alternate */
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z7 {
  /* @alternate */
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z8 {
  /* @alternate */
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z9 {
  /* @alternate */
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z10 {
  /* @alternate */
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z11 {
  /* @alternate */
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z12 {
  /* @alternate */
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z13 {
  /* @alternate */
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z14 {
  /* @alternate */
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z15 {
  /* @alternate */
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z16 {
  /* @alternate */
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z17 {
  /* @alternate */
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z18 {
  /* @alternate */
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z19 {
  /* @alternate */
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z20 {
  /* @alternate */
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z21 {
  /* @alternate */
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z22 {
  /* @alternate */
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z23 {
  /* @alternate */
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.mdc-elevation--z24 {
  /* @alternate */
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.mdc-elevation-transition {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
}

.smui-paper {
  padding: 24px 16px;
}
.smui-paper.smui-paper--raised, .smui-paper.smui-paper--unelevated {
  background-color: #ffffff;
  /* @alternate */
  background-color: var(--mdc-theme-surface, #ffffff);
  color: #000;
  /* @alternate */
  color: var(--mdc-theme-on-surface, #000);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z0 {
  /* @alternate */
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z1 {
  /* @alternate */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z2 {
  /* @alternate */
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z3 {
  /* @alternate */
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z4 {
  /* @alternate */
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z5 {
  /* @alternate */
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z6 {
  /* @alternate */
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z7 {
  /* @alternate */
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z8 {
  /* @alternate */
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z9 {
  /* @alternate */
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z10 {
  /* @alternate */
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z11 {
  /* @alternate */
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z12 {
  /* @alternate */
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z13 {
  /* @alternate */
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z14 {
  /* @alternate */
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z15 {
  /* @alternate */
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z16 {
  /* @alternate */
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z17 {
  /* @alternate */
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z18 {
  /* @alternate */
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z19 {
  /* @alternate */
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z20 {
  /* @alternate */
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z21 {
  /* @alternate */
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z22 {
  /* @alternate */
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z23 {
  /* @alternate */
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--raised.smui-paper--elevation-z24 {
  /* @alternate */
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
.smui-paper.smui-paper--outlined {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  /* @alternate */
  border-color: var(--mdc-theme-on-surface, #000);
}
.smui-paper.smui-paper--rounded {
  border-radius: 4px;
  /* @alternate */
  border-radius: var(--mdc-shape-medium, 4px);
}
.smui-paper.smui-paper-transition {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
}
.smui-paper .smui-paper__title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-headline5-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1.5rem;
  /* @alternate */
  font-size: var(--mdc-typography-headline5-font-size, 1.5rem);
  line-height: 2rem;
  /* @alternate */
  line-height: var(--mdc-typography-headline5-line-height, 2rem);
  font-weight: 400;
  /* @alternate */
  font-weight: var(--mdc-typography-headline5-font-weight, 400);
  letter-spacing: normal;
  /* @alternate */
  letter-spacing: var(--mdc-typography-headline5-letter-spacing, normal);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-headline5-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-headline5-text-transform, inherit);
  margin-top: 0;
  margin-bottom: 0.4rem;
}
.smui-paper .smui-paper__subtitle {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-subtitle1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1rem;
  /* @alternate */
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  line-height: 1.75rem;
  /* @alternate */
  line-height: var(--mdc-typography-subtitle1-line-height, 1.75rem);
  font-weight: 400;
  /* @alternate */
  font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
  letter-spacing: 0.009375em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
  margin-top: -0.2rem;
  margin-bottom: 0.4rem;
}
.smui-paper .smui-paper__content {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1rem;
  /* @alternate */
  font-size: var(--mdc-typography-body1-font-size, 1rem);
  line-height: 1.5rem;
  /* @alternate */
  line-height: var(--mdc-typography-body1-line-height, 1.5rem);
  font-weight: 400;
  /* @alternate */
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing: 0.03125em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-body1-text-transform, inherit);
}

.smui-paper.smui-paper--color-primary.smui-paper--raised, .smui-paper.smui-paper--color-primary.smui-paper--unelevated {
  background-color: #314f69;
  /* @alternate */
  background-color: var(--mdc-theme-primary, #314f69);
  color: #fff;
  /* @alternate */
  color: var(--mdc-theme-on-primary, #fff);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z0 {
  /* @alternate */
  box-shadow: 0px 0px 0px 0px rgba(49, 79, 105, 0.2), 0px 0px 0px 0px rgba(49, 79, 105, 0.14), 0px 0px 0px 0px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z1 {
  /* @alternate */
  box-shadow: 0px 2px 1px -1px rgba(49, 79, 105, 0.2), 0px 1px 1px 0px rgba(49, 79, 105, 0.14), 0px 1px 3px 0px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z2 {
  /* @alternate */
  box-shadow: 0px 3px 1px -2px rgba(49, 79, 105, 0.2), 0px 2px 2px 0px rgba(49, 79, 105, 0.14), 0px 1px 5px 0px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z3 {
  /* @alternate */
  box-shadow: 0px 3px 3px -2px rgba(49, 79, 105, 0.2), 0px 3px 4px 0px rgba(49, 79, 105, 0.14), 0px 1px 8px 0px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z4 {
  /* @alternate */
  box-shadow: 0px 2px 4px -1px rgba(49, 79, 105, 0.2), 0px 4px 5px 0px rgba(49, 79, 105, 0.14), 0px 1px 10px 0px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z5 {
  /* @alternate */
  box-shadow: 0px 3px 5px -1px rgba(49, 79, 105, 0.2), 0px 5px 8px 0px rgba(49, 79, 105, 0.14), 0px 1px 14px 0px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z6 {
  /* @alternate */
  box-shadow: 0px 3px 5px -1px rgba(49, 79, 105, 0.2), 0px 6px 10px 0px rgba(49, 79, 105, 0.14), 0px 1px 18px 0px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z7 {
  /* @alternate */
  box-shadow: 0px 4px 5px -2px rgba(49, 79, 105, 0.2), 0px 7px 10px 1px rgba(49, 79, 105, 0.14), 0px 2px 16px 1px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z8 {
  /* @alternate */
  box-shadow: 0px 5px 5px -3px rgba(49, 79, 105, 0.2), 0px 8px 10px 1px rgba(49, 79, 105, 0.14), 0px 3px 14px 2px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z9 {
  /* @alternate */
  box-shadow: 0px 5px 6px -3px rgba(49, 79, 105, 0.2), 0px 9px 12px 1px rgba(49, 79, 105, 0.14), 0px 3px 16px 2px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z10 {
  /* @alternate */
  box-shadow: 0px 6px 6px -3px rgba(49, 79, 105, 0.2), 0px 10px 14px 1px rgba(49, 79, 105, 0.14), 0px 4px 18px 3px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z11 {
  /* @alternate */
  box-shadow: 0px 6px 7px -4px rgba(49, 79, 105, 0.2), 0px 11px 15px 1px rgba(49, 79, 105, 0.14), 0px 4px 20px 3px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z12 {
  /* @alternate */
  box-shadow: 0px 7px 8px -4px rgba(49, 79, 105, 0.2), 0px 12px 17px 2px rgba(49, 79, 105, 0.14), 0px 5px 22px 4px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z13 {
  /* @alternate */
  box-shadow: 0px 7px 8px -4px rgba(49, 79, 105, 0.2), 0px 13px 19px 2px rgba(49, 79, 105, 0.14), 0px 5px 24px 4px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z14 {
  /* @alternate */
  box-shadow: 0px 7px 9px -4px rgba(49, 79, 105, 0.2), 0px 14px 21px 2px rgba(49, 79, 105, 0.14), 0px 5px 26px 4px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z15 {
  /* @alternate */
  box-shadow: 0px 8px 9px -5px rgba(49, 79, 105, 0.2), 0px 15px 22px 2px rgba(49, 79, 105, 0.14), 0px 6px 28px 5px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z16 {
  /* @alternate */
  box-shadow: 0px 8px 10px -5px rgba(49, 79, 105, 0.2), 0px 16px 24px 2px rgba(49, 79, 105, 0.14), 0px 6px 30px 5px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z17 {
  /* @alternate */
  box-shadow: 0px 8px 11px -5px rgba(49, 79, 105, 0.2), 0px 17px 26px 2px rgba(49, 79, 105, 0.14), 0px 6px 32px 5px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z18 {
  /* @alternate */
  box-shadow: 0px 9px 11px -5px rgba(49, 79, 105, 0.2), 0px 18px 28px 2px rgba(49, 79, 105, 0.14), 0px 7px 34px 6px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z19 {
  /* @alternate */
  box-shadow: 0px 9px 12px -6px rgba(49, 79, 105, 0.2), 0px 19px 29px 2px rgba(49, 79, 105, 0.14), 0px 7px 36px 6px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z20 {
  /* @alternate */
  box-shadow: 0px 10px 13px -6px rgba(49, 79, 105, 0.2), 0px 20px 31px 3px rgba(49, 79, 105, 0.14), 0px 8px 38px 7px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z21 {
  /* @alternate */
  box-shadow: 0px 10px 13px -6px rgba(49, 79, 105, 0.2), 0px 21px 33px 3px rgba(49, 79, 105, 0.14), 0px 8px 40px 7px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z22 {
  /* @alternate */
  box-shadow: 0px 10px 14px -6px rgba(49, 79, 105, 0.2), 0px 22px 35px 3px rgba(49, 79, 105, 0.14), 0px 8px 42px 7px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z23 {
  /* @alternate */
  box-shadow: 0px 11px 14px -7px rgba(49, 79, 105, 0.2), 0px 23px 36px 3px rgba(49, 79, 105, 0.14), 0px 9px 44px 8px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--raised.smui-paper--elevation-z24 {
  /* @alternate */
  box-shadow: 0px 11px 15px -7px rgba(49, 79, 105, 0.2), 0px 24px 38px 3px rgba(49, 79, 105, 0.14), 0px 9px 46px 8px rgba(49, 79, 105, 0.12);
}
.smui-paper.smui-paper--color-primary.smui-paper--outlined {
  border-width: 1px;
  border-style: solid;
  border-color: #314f69;
  /* @alternate */
  border-color: var(--mdc-theme-primary, #314f69);
}

.smui-paper.smui-paper--color-secondary.smui-paper--raised, .smui-paper.smui-paper--color-secondary.smui-paper--unelevated {
  background-color: #b7deff;
  /* @alternate */
  background-color: var(--mdc-theme-secondary, #b7deff);
  color: #000;
  /* @alternate */
  color: var(--mdc-theme-on-secondary, #000);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z0 {
  /* @alternate */
  box-shadow: 0px 0px 0px 0px rgba(183, 222, 255, 0.2), 0px 0px 0px 0px rgba(183, 222, 255, 0.14), 0px 0px 0px 0px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z1 {
  /* @alternate */
  box-shadow: 0px 2px 1px -1px rgba(183, 222, 255, 0.2), 0px 1px 1px 0px rgba(183, 222, 255, 0.14), 0px 1px 3px 0px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z2 {
  /* @alternate */
  box-shadow: 0px 3px 1px -2px rgba(183, 222, 255, 0.2), 0px 2px 2px 0px rgba(183, 222, 255, 0.14), 0px 1px 5px 0px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z3 {
  /* @alternate */
  box-shadow: 0px 3px 3px -2px rgba(183, 222, 255, 0.2), 0px 3px 4px 0px rgba(183, 222, 255, 0.14), 0px 1px 8px 0px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z4 {
  /* @alternate */
  box-shadow: 0px 2px 4px -1px rgba(183, 222, 255, 0.2), 0px 4px 5px 0px rgba(183, 222, 255, 0.14), 0px 1px 10px 0px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z5 {
  /* @alternate */
  box-shadow: 0px 3px 5px -1px rgba(183, 222, 255, 0.2), 0px 5px 8px 0px rgba(183, 222, 255, 0.14), 0px 1px 14px 0px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z6 {
  /* @alternate */
  box-shadow: 0px 3px 5px -1px rgba(183, 222, 255, 0.2), 0px 6px 10px 0px rgba(183, 222, 255, 0.14), 0px 1px 18px 0px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z7 {
  /* @alternate */
  box-shadow: 0px 4px 5px -2px rgba(183, 222, 255, 0.2), 0px 7px 10px 1px rgba(183, 222, 255, 0.14), 0px 2px 16px 1px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z8 {
  /* @alternate */
  box-shadow: 0px 5px 5px -3px rgba(183, 222, 255, 0.2), 0px 8px 10px 1px rgba(183, 222, 255, 0.14), 0px 3px 14px 2px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z9 {
  /* @alternate */
  box-shadow: 0px 5px 6px -3px rgba(183, 222, 255, 0.2), 0px 9px 12px 1px rgba(183, 222, 255, 0.14), 0px 3px 16px 2px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z10 {
  /* @alternate */
  box-shadow: 0px 6px 6px -3px rgba(183, 222, 255, 0.2), 0px 10px 14px 1px rgba(183, 222, 255, 0.14), 0px 4px 18px 3px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z11 {
  /* @alternate */
  box-shadow: 0px 6px 7px -4px rgba(183, 222, 255, 0.2), 0px 11px 15px 1px rgba(183, 222, 255, 0.14), 0px 4px 20px 3px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z12 {
  /* @alternate */
  box-shadow: 0px 7px 8px -4px rgba(183, 222, 255, 0.2), 0px 12px 17px 2px rgba(183, 222, 255, 0.14), 0px 5px 22px 4px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z13 {
  /* @alternate */
  box-shadow: 0px 7px 8px -4px rgba(183, 222, 255, 0.2), 0px 13px 19px 2px rgba(183, 222, 255, 0.14), 0px 5px 24px 4px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z14 {
  /* @alternate */
  box-shadow: 0px 7px 9px -4px rgba(183, 222, 255, 0.2), 0px 14px 21px 2px rgba(183, 222, 255, 0.14), 0px 5px 26px 4px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z15 {
  /* @alternate */
  box-shadow: 0px 8px 9px -5px rgba(183, 222, 255, 0.2), 0px 15px 22px 2px rgba(183, 222, 255, 0.14), 0px 6px 28px 5px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z16 {
  /* @alternate */
  box-shadow: 0px 8px 10px -5px rgba(183, 222, 255, 0.2), 0px 16px 24px 2px rgba(183, 222, 255, 0.14), 0px 6px 30px 5px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z17 {
  /* @alternate */
  box-shadow: 0px 8px 11px -5px rgba(183, 222, 255, 0.2), 0px 17px 26px 2px rgba(183, 222, 255, 0.14), 0px 6px 32px 5px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z18 {
  /* @alternate */
  box-shadow: 0px 9px 11px -5px rgba(183, 222, 255, 0.2), 0px 18px 28px 2px rgba(183, 222, 255, 0.14), 0px 7px 34px 6px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z19 {
  /* @alternate */
  box-shadow: 0px 9px 12px -6px rgba(183, 222, 255, 0.2), 0px 19px 29px 2px rgba(183, 222, 255, 0.14), 0px 7px 36px 6px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z20 {
  /* @alternate */
  box-shadow: 0px 10px 13px -6px rgba(183, 222, 255, 0.2), 0px 20px 31px 3px rgba(183, 222, 255, 0.14), 0px 8px 38px 7px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z21 {
  /* @alternate */
  box-shadow: 0px 10px 13px -6px rgba(183, 222, 255, 0.2), 0px 21px 33px 3px rgba(183, 222, 255, 0.14), 0px 8px 40px 7px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z22 {
  /* @alternate */
  box-shadow: 0px 10px 14px -6px rgba(183, 222, 255, 0.2), 0px 22px 35px 3px rgba(183, 222, 255, 0.14), 0px 8px 42px 7px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z23 {
  /* @alternate */
  box-shadow: 0px 11px 14px -7px rgba(183, 222, 255, 0.2), 0px 23px 36px 3px rgba(183, 222, 255, 0.14), 0px 9px 44px 8px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--raised.smui-paper--elevation-z24 {
  /* @alternate */
  box-shadow: 0px 11px 15px -7px rgba(183, 222, 255, 0.2), 0px 24px 38px 3px rgba(183, 222, 255, 0.14), 0px 9px 46px 8px rgba(183, 222, 255, 0.12);
}
.smui-paper.smui-paper--color-secondary.smui-paper--outlined {
  border-width: 1px;
  border-style: solid;
  border-color: #b7deff;
  /* @alternate */
  border-color: var(--mdc-theme-secondary, #b7deff);
}

.mdc-top-app-bar.demo-top-app-bar {
  background-color: #ffffff;
  /* @alternate */
  background-color: var(--mdc-theme-surface, #ffffff);
  color: #000;
  /* @alternate */
  color: var(--mdc-theme-on-surface, #000);
  /* @alternate */
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 7;
}
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__action-item,
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: #000;
  /* @alternate */
  color: var(--mdc-theme-on-surface, #000);
}
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__action-item::before, .mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__action-item::after,
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__navigation-icon::before,
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__navigation-icon::after {
  background-color: #000;
  /* @alternate */
  background-color: var(--mdc-ripple-color, var(--mdc-theme-on-surface, #000));
}
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__action-item:hover::before, .mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__action-item.mdc-ripple-surface--hover::before,
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__navigation-icon:hover::before,
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__navigation-icon.mdc-ripple-surface--hover::before {
  opacity: 0.04;
  /* @alternate */
  opacity: var(--mdc-ripple-hover-opacity, 0.04);
}
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__action-item.mdc-ripple-upgraded--background-focused::before, .mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__action-item:not(.mdc-ripple-upgraded):focus::before,
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__navigation-icon.mdc-ripple-upgraded--background-focused::before,
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__navigation-icon:not(.mdc-ripple-upgraded):focus::before {
  transition-duration: 75ms;
  opacity: 0.12;
  /* @alternate */
  opacity: var(--mdc-ripple-focus-opacity, 0.12);
}
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__action-item:not(.mdc-ripple-upgraded)::after,
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__navigation-icon:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear;
}
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__action-item:not(.mdc-ripple-upgraded):active::after,
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__navigation-icon:not(.mdc-ripple-upgraded):active::after {
  transition-duration: 75ms;
  opacity: 0.12;
  /* @alternate */
  opacity: var(--mdc-ripple-press-opacity, 0.12);
}
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__action-item.mdc-ripple-upgraded,
.mdc-top-app-bar.demo-top-app-bar .mdc-top-app-bar__navigation-icon.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, 0.12);
}

.my-colored-circle .mdc-circular-progress__determinate-circle,
.my-colored-circle .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #314f69;
  /* @alternate */
  stroke: var(--mdc-theme-primary, #314f69);
}
.my-colored-circle .mdc-circular-progress__determinate-track {
  stroke: #b7deff;
  /* @alternate */
  stroke: var(--mdc-theme-secondary, #b7deff);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
