@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #1B3F5F,
  $secondary: #285F8F,
  $surface: #EFF6FB,
  $background: #CEE3F3,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

// a {
//   color: #40b3ff;
// }
// a:visited {
//   color: color.scale(#40b3ff, $lightness: -35%);
// }
