/* @tailwind base; */
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-2xl;
}
h3 {
	@apply text-xl;
}
h4 {
	@apply text-lg;
}

h5 {
	@apply text-lg;
}
h6 {
	@apply text-lg;
}

p {
	@apply text-base;
}
